<div class="main-container">
  <div class="info-main-container">
    <p [class]="myClass">Test works! {{ x }} Hello, {{ user.name }}!</p>

    <p (click)="changeColor('#B9F73E')" [style.color]="myColor">
      Click me then type the color below and press ctrl + alt + enter
    </p>

    <input
      type="text"
      (input)="changeColor($event.target.value)"
      (keydown.control.alt.enter)="changeColor('white')"
    />

    <p [style.color]="myParagraphColor">Text for button</p>
    <input type="text" #elementColor />

    <button (click)="changeParagraphColor(elementColor.value)">
      Change color
    </button>
    <br />
    <br />

    <iframe
      width="420"
      height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY"
    >
    </iframe>
    <br />
    <br />
    <button (click)="goHome()">Go Home button</button>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
    <p>
      jfkljakjgkjslkgjsldkjgksdgkjdskjgdkjgkjgkjdgjreiojgijrgnfdkjnfdkjnvjkijr
    </p>
  </div>
</div>
